.app-header {
    background: $white;
    padding: 0 16px;

    a {
        color: $black;
        text-decoration: none;

        &:hover {
            color: $secondary;
            text-decoration: underline;
        }
        &:active,
        &:focus {
            color: $black;
            text-decoration: none;
        }
    }

    .header-content {
        height: 64px;
        display: flex;
        align-items: center;

        img {
            width: 60px;
        }

        .company-info {
            flex-grow: 1;
            text-align: center;
            margin-left: 64px;
        }

        .company-name {
            margin: 0;
        }
    }
}

@media screen and (max-width: 768px) {
    .app-header {
        .header-content {
            .company-info {
                margin-left: 0;
            }
            .label-theme {
                display: none;
            }
        }
    }
}
