* {
    box-sizing: border-box;
}

body,
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
    margin: 0 auto;
}

a {
    outline: none;
    text-decoration: none;
}

ul {
    list-style: none;
}

p,
ul,
figure,
h1,
h2,
h3 {
    word-break: break-word;
    margin: 0;
}

ul {
    padding: 0;
}
